.help-container {
    height: 90%;
    background-color: #00abff26;
    right: 0;
    margin: 25px;
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    padding: 10px;
    position: relative;
}

.hidden {
    display: none;
}

.close-container {
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%;
    padding-right: 25px;
}

.help-text {
    margin-top: 20px;
}

.help-text-ul {
    margin-left: 20px;
}