.row-with-tips-container {
  display: flex;
  /* grid-template-columns: auto 0.5fr; */
  align-items: center;
  width: 100%;
  justify-content: center;
}

.left-section {
  /* position: static;
  left: auto;
  width: 100%; */
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
}

.row-container {
  grid-column: 2;
  width: 100%;
  max-width: 500px;
  padding: 25px 10px;
  display: flex;
  justify-content: center;
}

.track {
  position: relative;
  width: 100%;
  height: 6px;
  background: linear-gradient(to bottom, #e8e8e8 0%, #d0d0d0 50%, #e8e8e8 100%);
  border: 3px solid #999;
  border-radius: 30px;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  display: flex;
  justify-content: start;
  align-items: center;
}

.crossbar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #666666ab;
  z-index: 1;
  border-radius: 5px;
}

.count {
  grid-column: 2; 
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  font-style: italic;
  width: 1rem;
  display: flex;
  justify-content: start;
}

.digits{
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  font-style: italic;
  opacity: 0.5;
  display: flex;
  justify-content: end;
  width: 1rem;
  margin-bottom: 2px;
}

.dot {
  aspect-ratio: 1;
  border-radius: 50px;
  background: rgba(116, 3, 3, 0.62);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 4px;
  position: absolute;
}

@media (max-width: 480px) {
  .digits {
    display: none;
  }

  .abacus-container {
    padding: 15px 10px;     
  }
  .row-with-tips-container{
    flex-direction: column;
  }
  .count {
    font-size: 11px;
    align-self: end;
    width: auto;
  }
  /* .digits {
    font-size: 11px;
    align-self: start;
    width: auto;
  }
   */
  .row-container {
    padding: 15px 10px 4px;
  }
}